# KiCad Project files

## Temporary files
_autosave-*
*-backups
*-bak
*-bak*
*-cache*
*-save.kicad_pcb
*-save.pro
*.000
*.bak
*.bck
*.history
*.kicad_pcb-bak
*.kicad_sch-bak
*.tmp
*~
\#auto_saved_files\#
\#auto_saved_files#
~*
~*.lck
fp-info-cache

## Netlist files (exported from Eeschema)
*.net

## Autorouter files (exported from Pcbnew)
*.dsn
*.ses

## Exported BOM files
*.xml
*.csv

## Archived Backups (KiCad 6.0)
**/*-backups/*.zip

## Local project settings
*.kicad_prl

## jlc-kicad-lib-loader
jlc-kicad-lib-loader.ini
EASYEDA_MODELS

## fabrication-toolkit-options
fabrication-toolkit-options.json

# Outputs
exports/
production/
